html{

}
body,html{
    margin:0;
    padding:0;
}

h1,h2,h3,p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-weight: 100;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

p{
    color: #363636;
}

section,header{
    width:1280px;
    font-family: "Arial",sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.productMain {
    height: 323px;
    background-color: #4a5261;
    color:white;
}

.productMainImg{
    float: right;
    width: 469px;
    height: 214px;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #ffffff;
}

.productMain h1{
    font-size: 60px;
    padding-left: 46px;
    padding-top: 38px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.productMainList{
    margin-left: 47px;
    line-height: 36px;
    font-size: 20px;
    margin-top: 28px;
    padding-left: 35px;
}

.productMainList li{
    list-style-image: url("../images/check-icon.png");
    padding-left: 5px;
}

.productAbout{
    height: 344px;
    background-color: white ;
    color:#4a5261;
}

.productAboutImg{
    float: right;
    width: 430px;
    height: 245px;
    margin-top: 50px;
    margin-right: 50px;
    background-color:#4a5261;
}

.productAboutText{
    width:655px;
    max-height:inherit;
    padding-left:50px;
    padding-top: 44px;
}

.productAbout h2{
    font-size: 30px;
    padding-bottom:11px;
}

.productAboutText p{
    line-height: 24px;
    padding-top:14px;
}

.productAboutText p:last-child{
    margin-top: -4px;
}

.productPluses{
    height:373px;
    padding-top: 45px;
    background-color: #f4f4f4;
}

.productPlusesHeading{
    text-align: center;

}

.productPlusesList p{
    float:left;
    width:527px;
    margin-left:42px;
    line-height: 24px;
    margin-bottom: 26px;

}

.productPlusesList p:nth-child(2n){
    margin-left:63px;
}

.productPlusesWrap{
    margin-left: 50px;
    color:#4a5261;
    font-family: "Arial",sans-serif;
    padding-top: 23px;
}

.productPlusesList p::before{
    content: " ";
    width: 32px;
    height: 32px;
    background-color: #4a5261;
    display: block;
    float:left;
    margin-left: -42px;
    background-image: url("../images/layer-2.png");
    background-position: 6px 6px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.screenShots{
    height: 487px;
    padding-top:47px;
}

.screenShotsHeading{
    font-size: 30px;
    text-align: center;
}

.screenShotsBlock{
    float:left;
    margin-top:28px;
    width:574px;
    height:150px;
    margin-left:50px;
}

.screenShotsBlock:nth-child(2n+1){
    margin-left:16px;
}

.screenShotsBlockImage{
    height:150px;
    width:200px;
    float:left;
    background-color: #4a5261;
}
.screenShotsBlockText{
    width:360px;
    height:inherit;
    max-height: 150px;
    overflow:hidden;
    padding-left:14px;
    margin-top: -6px;
}

.screenShotsBlockText h3{
    overflow:hidden;
}

.screenShotsBlockText p{
    line-height: 1.5;
    padding-top:9px;
}
